---
import Layout from '../layouts/Layout.astro';
import {CitasProximas} from 'src/components/CitasProximas'
import { CitasReporte } from 'src/components/CitasReporte';
---

<Layout>
    <section class="p-6">
        <h2 class="text-2xl text-indigo-600 text-center">Bienvenido</h2>
        <CitasReporte client:load />
        <CitasProximas client:load />
    </section>
</Layout>
